@import url("https://custom-avatar-hints.github.io/hints/app/language-hell.css");
@import url("https://custom-avatar-hints.github.io/hints/app/database.css");

/*I DON'T RECOMMEND TO @import THIS FILE. INSTEAD, COPY ALL THE CODE AND PASTE IT*/

.avatarHint-1qgaV3 .avatarHintInner-Dco91E{
    font-size: 0;
    text-transform: none;
}

.avatarHint-1qgaV3 .avatarHintInner-Dco91E::after{
    white-space: normal;
    text-align: center;
    content: var(--avatar-hint-text);
    color: var(--avatar-hint-color);
    font-size: var(--avatar-hint-size);
    font-family: var(--avatar-hint-font);
}
