/*importing custom fonts bcs why not?*/
@font-face {font-family: 'Product Sans';font-style: normal;font-weight: 400;src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');}

/*Database*/

/*A user*/
[data-user-id*="264062457448759296"],
[data-user-id*="264062457448759296"] + .avatarHint-1qgaV3,
[user_by_bdfdb="264062457448759296"],
[user_by_bdfdb="264062457448759296"] .avatarHint-1qgaV3{
    --avatar-hint-text: "( ^ 3 ^ )";
    --avatar-hint-size: 16px;
    --avatar-hint-color: #fff;
    --avatar-hint-font: "Product Sans";
}

/*Kirishima Ayato*/
[data-user-id*="240482174686593025"],
[data-user-id*="240482174686593025"] + .avatarHint-1qgaV3,
[user_by_bdfdb="240482174686593025"],
[user_by_bdfdb="240482174686593025"] .avatarHint-1qgaV3{
    --avatar-hint-text: "Master XD";
    --avatar-hint-size: 12px;
}

/*👑 Reĝino Kastilo#0115*/
[data-user-id*="143476079267414016"],
[data-user-id*="143476079267414016"] + .avatarHint-1qgaV3,
[user_by_bdfdb="143476079267414016"],
[user_by_bdfdb="143476079267414016"] .avatarHint-1qgaV3{
    --avatar-hint-text: "^°•~•°^";
    --avatar-hint-size: 18px;
    --avatar-hint-color: #ba005d;
    --avatar-hint-font: "Comic Sans MS", "Comic Sans", cursive;
}

/*With Mask | ດຽວ#1337*/
[data-user-id*="363035228198928407"],
[data-user-id*="363035228198928407"] + .avatarHint-1qgaV3,
[user_by_bdfdb="363035228198928407"],
[user_by_bdfdb="363035228198928407"] .avatarHint-1qgaV3{
    --avatar-hint-text: "Code ☕";
    --avatar-hint-size: 18px;
    --avatar-hint-color: #fff;
    --avatar-hint-font: Courier;
}

/*Pqtato #3737*/
[data-user-id*="209419219899514880"],
[data-user-id*="209419219899514880"] + .avatarHint-1qgaV3,
[user_by_bdfdb="209419219899514880"],
[user_by_bdfdb="209419219899514880"] .avatarHint-1qgaV3{
--avatar-hint-text: "[+..••]";
--avatar-hint-size: 19px;
--avatar-hint-color: #fff;
--avatar-hint-font: 'Product Sans';
}

/*BrizzyRBX #0001*/
[data-user-id*="285124312032083968"],
[data-user-id*="285124312032083968"] + .avatarHint-1qgaV3,
[user_by_bdfdb="285124312032083968"],
[user_by_bdfdb="285124312032083968"] .avatarHint-1qgaV3{
--avatar-hint-text: "Brizzy";
--avatar-hint-size: 24px;
--avatar-hint-color: #00008b;
--avatar-hint-font: 'Product Sans';
}

/*💕#6868*/
[data-user-id*="307273349997002752"],
[data-user-id*="307273349997002752"] + .avatarHint-1qgaV3,
[user_by_bdfdb="307273349997002752"],
[user_by_bdfdb="307273349997002752"] .avatarHint-1qgaV3{
--avatar-hint-text: "lovely 💖";
--avatar-hint-size: 13px;
--avatar-hint-color: #F7E9EA;
--avatar-hint-font: 'Product Sans';
}

/*Viennella#0001*/
[data-user-id*="250353310698176522"],
[data-user-id*="250353310698176522"] + .avatarHint-1qgaV3,
[user_by_bdfdb="250353310698176522"],
[user_by_bdfdb="250353310698176522"] .avatarHint-1qgaV3{
--avatar-hint-text: "🌙Enchanted Symphony";
--avatar-hint-size: 10px;
--avatar-hint-color: #ffc501;
--avatar-hint-font: ;
}

/*Viennella#0001*/
[data-user-id*="250353310698176522"],
[data-user-id*="250353310698176522"] + .avatarHint-1qgaV3,
[user_by_bdfdb="250353310698176522"],
[user_by_bdfdb="250353310698176522"] .avatarHint-1qgaV3{
--avatar-hint-text: "🌙Enchanted Symphony";
--avatar-hint-size: 10px;
--avatar-hint-color: #ffc501;
}

/*boop#9999*/
[data-user-id*="539916102038192128"],
[data-user-id*="539916102038192128"] + .avatarHint-1qgaV3,
[user_by_bdfdb="539916102038192128"],
[user_by_bdfdb="539916102038192128"] .avatarHint-1qgaV3{
--avatar-hint-text: "boop on top";
--avatar-hint-size: 10px;
--avatar-hint-color: #00ffff;
--avatar-hint-font: Verdana;
}


/*𝚊𝚙𝚕𝚎𝙳𝚒𝚜𝚌𝚘𝚛𝚍#0913*/
[data-user-id*="438846426441711616"],
[data-user-id*="438846426441711616"] + .avatarHint-1qgaV3,
[user_by_bdfdb="438846426441711616"],
[user_by_bdfdb="438846426441711616"] .avatarHint-1qgaV3{
--avatar-hint-text: "aple";
--avatar-hint-size: 20px;
--avatar-hint-color: #fff;
--avatar-hint-font: 'Product Sans';
}

/*Swishilicous#2339*/
[data-user-id*="474322346937810955"],
[data-user-id*="474322346937810955"] + .avatarHint-1qgaV3,
[user_by_bdfdb="474322346937810955"],
[user_by_bdfdb="474322346937810955"] .avatarHint-1qgaV3{
--avatar-hint-text: "(◕‿◕✿)";
--avatar-hint-size: 13px;
--avatar-hint-color: #fff;
--avatar-hint-font: 'Product Sans';
}

/*ThePizzaMuncher#7687*/
[data-user-id*="335838133046214659"],
[data-user-id*="335838133046214659"] + .avatarHint-1qgaV3,
[user_by_bdfdb="335838133046214659"],
[user_by_bdfdb="335838133046214659"] .avatarHint-1qgaV3{
--avatar-hint-text: "~~:.|:;~~";
--avatar-hint-size: 13px;
--avatar-hint-color: #fff;
--avatar-hint-font: 'Courier New';
}

/*Matt.#0420*/
[data-user-id*="146969728919797760"],
[data-user-id*="146969728919797760"] + .avatarHint-1qgaV3,
[user_by_bdfdb="146969728919797760"],
[user_by_bdfdb="146969728919797760"] .avatarHint-1qgaV3{
--avatar-hint-text: "📱 damm o telefn";
--avatar-hint-size: 11px;
--avatar-hint-color: #b00;
--avatar-hint-font: ;
}
