/*importing custom fonts bcs why not?*/
@font-face {font-family: 'Product Sans';font-style: normal;font-weight: 400;src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');}

/*Database*/

/*A user*/
.wrapper-3t9DeA[aria-label^="A user, "] + .avatarHint-1qgaV3{
    --avatar-hint-text: "( ^ 3 ^ )";
    --avatar-hint-size: 16px;
    --avatar-hint-color: #fff;
    --avatar-hint-font: "Product Sans";
}

/*Kirishima Ayato*/
.wrapper-3t9DeA[aria-label^="Kirishima Ayato, "] + .avatarHint-1qgaV3{
    --avatar-hint-text: "Master XD";
    --avatar-hint-size: 10px;
}
