.wrapper-3t9DeA[aria-label^="A user, "] + .avatarHint-1qgaV3{
    --avatar-hint-text: "( ^ 3 ^ )";
    --avatar-hint-size: 16px;
    --avatar-hint-color: #fff;
    --avatar-hint-font: "Product Sans";
}
